#course {
  background: #EFEFEF;

  .course2 {
    display: flex;
    padding: 170px 0 100px 0;

    &--box {
      width: 383px;
      height: 186px;
      background: linear-gradient(130deg, #000000 35.42%, rgba(31, 31, 31, 0.9) 100%);
      border-radius: 30px;
      margin-top: 9.5rem;
    }

    &--btn1 {
      width: 152px;
      height: 50px;
      background: #4886FF;
      border-radius: 30px;
      transform: rotate(-16.64deg);
      color: #FFFFFF;
      position: relative;
      left: 11.5rem;
      top: 4.5rem;
    }

    &--image {
      position: relative;
      top: -13rem;
      left: 2rem;
    }

    &--block {
      width: 800px;
      height: 339px;
      background: #FF563F;
      border-radius: 30px;
      margin-left: 7rem;
      padding: 50px 35px;
    }

    &--titles {
      display: flex;
    }

    &--title1 {
      font-family: 'Muller', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      color: #FFFFFF;
      padding-bottom: 15px;
    }

    &--desc1 {
      font-family: 'SF Pro Display', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 140%;
      color: rgba(255, 255, 255, 0.8);
    }

    &--title2 {
      font-family: 'SF Pro Display', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 120%;
      color: #FFFFFF;
      padding-bottom: 20px;
    }

    &--btn2 {
      font-family: 'SF Pro Display', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #FF0000;
      width: 334px;
      height: 50px;
      background: #F8F8F8;
      border-radius: 44px;
    }

    &--desc2 {
      font-family: 'SF Pro Display', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      color: rgba(255, 255, 255, 0.8);
    }

    &--left {
      margin-left: 20px;
    }
  }


.course {

  &--anim {
    width: 100%;
    height: 73px;
    background: #EC3025;
    position: relative;
    overflow: hidden;
    padding: 15px;
  }

  &--name {
    display: flex;
    align-items: center;
  }

  &--title {
    font-family: 'Muller', sans-serif;
    font-style: normal;
    font-weight: 980;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 0 20px;
  }

  &--title2 {
    padding: 0 20px;
  }

  &--vector {
    width: 60px;
    height: 0;
    border: 1px solid #FFFFFF;
  }

  &--name2 {
    background: #4886FF;
    transform: rotate(-2deg);
    width: 100%;
    height: 73px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 10rem;
  }

  &--projects {
    display: flex;
    justify-content: space-around;
  }
  &--block1{

  }
  &--block {
    width: 380px;
    height: 172.24px;
    background: linear-gradient(114deg, #FFA800 46%, rgba(255, 169, 3, 0.5) 100%);
    border-radius: 30px 30px 0 0;
  }
  &--block2 {
    width: 380px;
    height: 172.24px;
    border-radius: 30px 30px 0 0;
    background: linear-gradient(114deg, #725EF2 32%, rgba(115, 95, 243, 0.5) 100%);
  }
  &--block3 {
    width: 380px;
    height: 172.24px;
    border-radius: 30px 30px 0 0;
    background: linear-gradient(134.65deg, #1E9F2B 33.94%, rgba(115, 252, 129, 0.9) 99.36%);
  }

  &--girl {
    position: relative;
    bottom: 99px;
    left: 98px;
  }
  &--box {
    background: #FFFFFF;
    border-radius: 0 0 30px 30px;
    width: 380px;
    height: 458.63px;
    padding: 10px 15px;
  }

  &--title3 {
    font-family: 'Muller', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #030303;
    padding-bottom: 15px;
  }

  &--desc1 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: rgba(27, 27, 27, 0.8);
    padding-bottom: 15px;
  }

  &--buttons {
    display: flex;
    justify-content: space-between;
  }
  &--buttons button:hover {
    color: #4886FF;
    border: 2px solid #4886FF;
    transition: .3s;
  }

  &--btn1 {
    border: 1px solid #000000;
    border-radius: 30px;
    width: 76px;
    height: 43px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
  }

  &--btn2 {
    width: 111px;
    height: 43px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 30px;
  }

  &--btn3 {
    width: 50px;
    height: 43px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 30px;
  }

  &--buttons2 button {
    margin: 5px 2px;
  }

  &--buttons2 button:hover {
    color: #4886FF;
    border: 2px solid #4886FF;
  }

  &--btn4 {
    width: 64px;
    height: 43px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 30px;
    background: transparent;
  }

  &--btn5 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 30px;
    width: 136px;
    height: 43px;
  }

  &--btn6 {
    width: 329px;
    height: 50px;
    background: #EC3025;
    border: 1px solid #EC3025;
    border-radius: 44px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: white;
    margin-top: 20px;
  }
  &--btn {
    &:hover{
      background: red;
      color: white;
    }
    width: 329px;
    height: 50px;
    background:transparent;
    border: 1px solid #EC3025;
    border-radius: 44px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    color: red;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
  }

  &--btn6:hover {
    background: black;
    color: white;
    transition: .3s;
    border: none;
  }

  &--design {
    position: relative;
    top: -99px;
    left: 6rem;
  }

  &--backend {
    position: relative;
    top: -99px;
    left: 6rem;
  }

  &--but1 {
    padding-top: 5rem;
  }

  &--but {
    padding-top: 3rem;
  }
}
}


@media (max-width: 1200px) {
  #course .course--projects {
    margin: 0 5px;
  }
  #course .course2--block {
    width: 720px;
  }
  #course .course2--btn1 {
    width: 110px;
    position: relative;
    top: 5.2rem;
  }
  #course .course2--image {
    position: relative;
    left: 1rem;
  }
}
@media (max-width: 1040px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 540px) {

}
@media (max-width: 400px) {
  #course .course--projects {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1200px) {

}