#footer {
  background: #090A0C;
  padding: 80px 0 120px 0;

  .footer {
    display: flex;
    align-items: start;
    justify-content: space-between;

    iframe {
      width: 485px;
      height: 260px;
    }

    &--uses {
      display: flex;
      flex-direction: column;
      width: 50%;

      &__group {
        display: flex;
        align-items: start;
        justify-content: space-between;

        &--icons {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          a {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 130%;
            color: rgba(255, 255, 255, 0.6);
          }
          &--adress {
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 24px;
            color: #ffffff;
          }
        }
      }
    }
  }
}
@media (max-width: 661px) {
  #footer {
    height: 246px;
    .footer {
      background: #090a0c;
      padding-left: 20px;
      .container {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        flex-direction: column;

        .footer--map {
          position: absolute;
          right: 36px;
          top: 588rem;

          iframe {
            width: 250px;
            height: 150px;
          }
        }
        .footer--f {
          &--img {
            width: 52px;
            margin-bottom: 24px;
          }

          &--block--h1 {
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #ffffff;
            margin-top: -7px;
            margin-bottom: 1px;
          }
          &--block--p {
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8);
            padding: 14px 0 0px 0;
          }
        }

        .footer--s {
          padding: 46px 0 0 0;

          &--p {
            padding: 0 0 29px 0;
            text-decoration: none;
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            /* identical to box height, or 26px */

          &__8com {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 170%;

            a {
              background: #FFFFFF;
              color: #000000;
              border-radius: 50%;
              padding: 4px;
            }
          }
        }
      }

      table {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 50px 0;
        flex-direction: column;

        .footer--map {
          position: absolute;
          right: 36px;
          top: 653rem;

          iframe {
            width: 250px;
            height: 150px;
          }
        }
        .footer--f {
          &--img {
            width: 52px;
            margin-bottom: 24px;
          }
        padding-top: 12%;

        tr {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

            color: rgba(255, 255, 255, 0.6);
          }
          &--adress {
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 24px;
            color: #ffffff;
          }
        }

      }
    }
  }

}

@media (max-width: 451px) {
  #footer {
    height: 246px;
    .footer {
      background: #090a0c;
      padding-left: 20px;
      .container {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        flex-direction: column;

        .footer--map {
          position: absolute;
          right: 36px;
          top: 666rem;

          iframe {
            width: 250px;
            height: 150px;
          }
        }
        .footer--f {
          &--img {
            width: 52px;
            margin-bottom: 24px;
          }

          &--block--h1 {
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #ffffff;
            margin-top: -7px;
            margin-bottom: 1px;
          }
          &--block--p {
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8);
            padding: 14px 0 0px 0;
          }
        }

        .footer--s {
          padding: 46px 0 0 0;

          &--p {
            padding: 0 0 29px 0;
            text-decoration: none;
            font-family: "SF Pro Display",sans-serif;
          th {
            cursor: pointer;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 190%;
            color: #FFFFFF;
          }

          td {
            cursor: pointer;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 24px;
            color: #ffffff;
          }
        }

      }
    }
  }

}

@media (max-width: 400px) {
  #footer {
    height: 246px;
    .footer {
      background: #090a0c;
      padding-left: 20px;
      .container {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        flex-direction: column;

        .footer--map {
          position: absolute;
          right: 28px;
          top: 656rem;
          iframe {
            width: 250px;
            height: 150px;
          }
        }
        .footer--f {
          &--img {
            width: 52px;
            margin-bottom: 24px;

          }

          &--block--h1 {
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #ffffff;
            margin-top: -7px;
            margin-bottom: 1px;
          }
          &--block--p {
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            display: flex;
            align-items: center;
            text-decoration: none;
            line-height: 130%;
            color: rgba(255, 255, 255, 0.8);
          }
        }

        td {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          &--img {
            display: flex;
            gap: 21px;
            margin-top: -373px;
            margin-bottom: 25px;

            img {
              width: 17px;
              height: 20px;
            }
          }
          &--ref {
            margin-top: 8px;
            margin-bottom: 7px;
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            display: flex;
            align-items: center;

            color: rgba(255, 255, 255, 0.6);
          }
          &--adress {
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 14px;
            margin-bottom: 24px;
            color: #ffffff;
          a {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 200%;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #footer {
    height: 246px;
    .footer {
      background: #090a0c;
      padding-left: 20px;
      .container {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        flex-direction: column;

        .footer--map {
          //position: absolute;
          right: 28px;
          top: 0;
          margin-top: 665rem;
          //top: 195px;
          iframe {
            width: 195px;
            height: 141px;
          }
        }
        .footer--f {
          &--img {
            width: 52px;
            margin-bottom: 24px;

          }

          &--block--h1 {
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #ffffff;
            margin-top: -7px;
            margin-bottom: 1px;
          }
          &--block--p {
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8);
            padding: 14px 0 0px 0;
          }
        }

        .footer--s {
          padding: 46px 0 0 0;

          &--p {
            padding: 0 0 29px 0;
            text-decoration: none;
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            /* identical to box height, or 26px */

            display: flex;
            align-items: center;

            color: #ffffff;
          }
        }
        .footer--t {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          &--img {
            display: flex;
            gap: 21px;
            margin-top: -373px;
            margin-bottom: 25px;

            img {
              width: 17px;
              height: 20px;
            }
          }
          &--ref {
            margin-top: 8px;
            margin-bottom: 7px;
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            display: flex;
            align-items: center;

            color: rgba(255, 255, 255, 0.6);
          }
          &--adress {
            font-family: "SF Pro Display",sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 24px;
            color: #ffffff;
          }
        }

      }
    }
  }

@media (max-width: 1024px) {
  #footer .footer {
    flex-direction: column-reverse;
    align-items: center;
  }
  #footer .footer--uses table {
    padding-bottom: 12%;
  }
  #footer .footer--uses {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #footer .footer--uses table {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  #footer .footer--uses table td {
    align-items: flex-start;
    padding-top: 20px;
  }
  #footer .footer iframe {
    width: 100%;
    height: 100%;
  }
}