#motion {
	//padding: 100px 0;
	padding: 100px 0 70px 0;
	background: #f5f5f5;

	.motion {
		display: flex;
		align-items: start;
		justify-content: space-between;
		&--text {
			h3 {
				font-weight: 500;
				font-size: 36px;
				line-height: 36px;
				color: #000000;
				width: 370px;
				span {
					color: #ec3025;
				}
			}
		}
		&--study {
			&__block {
				&--smile {
					background: #ffffff;
					border-radius: 25px;
					width: 799px;
					height: 188px;
					display: flex;
					align-items: start;
					justify-content: space-around;
					padding: 37px 0 0 5px;

					img {
						margin-right: 20px;
					}

					h6 {
						font-weight: 700;
						font-size: 24px;
						line-height: 22px;
						color: #000000;
						width: 320px;
						padding-bottom: 15px;
					}
					p {
						font-weight: 400;
						font-size: 19px;
						line-height: 140%;
						color: rgba(27, 27, 27, 0.8);
						width: 669px;
					}
				}
				&--open {
					background: #ffffff;
					border-radius: 25px;
					width: 799px;
					height: 188px;
					display: flex;
					align-items: start;
					justify-content: space-around;
					padding: 35px 0 0 5px;
					margin: 16px 0;
					h6 {
						font-weight: 700;
						font-size: 24px;
						line-height: 22px;
						color: #000000;
						width: 320px;
						padding-bottom: 15px;
					}
					p {
						font-weight: 400;
						font-size: 19px;
						line-height: 140%;
						color: rgba(27, 27, 27, 0.8);
						width: 669px;
					}
				}
				&--en {
					background: #ffffff;
					border-radius: 25px;
					width: 798px;
					height: 215px;
					display: flex;
					align-items: start;
					justify-content: space-around;
					padding: 35px 0 0 5px;
					margin: 16px 0;
					h6 {
						font-weight: 700;
						font-size: 24px;
						line-height: 22px;
						color: #000000;
						width: 320px;
						padding-bottom: 15px;
					}
					p {
						font-weight: 400;
						font-size: 19px;
						line-height: 140%;
						color: rgba(27, 27, 27, 0.8);
						width: 669px;
					}
				}
				&--rocket {
					background: #ffffff;
					border-radius: 25px;
					width: 798px;
					height: 281px;
					display: flex;
					align-items: start;
					justify-content: space-around;
					padding: 35px 0 0 5px;
					margin: 16px 0;
					h6 {
						font-weight: 700;
						font-size: 24px;
						line-height: 22px;
						color: #000000;
						width: 320px;
						padding-bottom: 15px;
					}
					p {
						font-weight: 400;
						font-size: 19px;
						line-height: 140%;
						color: rgba(27, 27, 27, 0.8);
						width: 669px;
						padding-bottom: 15px;
					}
					span {
						font-weight: 500;
						font-size: 20px;
						color: #000000;
						border-bottom: 2px solid black;
						cursor: pointer;
					}
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	#motion {
		.motion {
			&--text {
				h3 {
					width: 339px;
				}
			}
			&--study {
				&__block {
					&--smile {
						width: 715px;
						height: 202px;
						padding: 37px 0 0 23px;
						p {
							width: 610px;
						}
					}
					&--open {
						width: 715px;
						height: 194px;
						padding: 35px 0 0 31px;
						p {
							width: 603px;
						}
						img {
							margin-right: 20px;
						}
					}
					&--en {
						width: 715px;
						padding: 35px 0 0 31px;
						img {
							margin-right: 20px;
						}
						p {
							width: 627px;
						}
					}
					&--rocket {
						width: 715px;
						height: 300px;
						padding: 35px 0 0 31px;
						p {
							width: 624px;
						}
						img {
							margin-right: 20px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1040px) {
	#motion {
		.motion {
			&--text {
				h3 {
					width: 280px;
				}
			}
			&--study {
				&__block {
					&--smile {
						padding: 37px 0 0 58px;
						width: 659px;
					}
					&--open {
						width: 659px;
						height: 197px;
						padding: 35px 0 0 28px;

						p {
							width: 555px;
						}
					}
					&--en {
						height: 224px;
						width: 659px;

						p {
							width: 569px;
						}
					}
					&--rocket {
						width: 659px;

						p {
							width: 564px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 912px) {
	#motion {
		.motion {
			flex-wrap: wrap;
			justify-content: center;
			&--text {
				h3 {
					width: 400px;
					margin-bottom: 30px;
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 540px) {
	#motion {
		.motion {
			&--text {
				h3 {
					font-size: 30px;
					text-align: left;
					width: 487px;
				}
			}
			&--study {
				&__block {
					&--smile {
						width: 500px;
						height: 217px;
						padding: 25px 0 0 18px;
						h6 {
							font-size: 20px;
						}
						p {
							font-size: 17px;
							width: 370px;
							margin-right: 64px;
						}
						img {
							width: 33px;
						}
					}
					&--open {
						width: 500px;
						height: 177px;
						padding: 25px 0 0 28px;
						h6 {
							font-size: 20px;
						}
						p {
							font-size: 17px;
							width: 405px;
							margin-right: 38px;
						}
						img {
							width: 33px;
						}
					}
					&--en {
						width: 500px;
						height: 198px;
						padding: 24px 0 0 31px;
						h6 {
							font-size: 20px;
						}
						p {
							font-size: 17px;
							width: 450px;
						}
						img {
							width: 33px;
						}
					}
					&--rocket {
						width: 500px;
						height: 320px;
						h6 {
							font-size: 20px;
						}
						p {
							font-size: 17px;
							width: 410px;
							margin-right: 34px;
						}
						img {
							width: 33px;
						}
						span {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 414px) {
	#motion {
		padding: 50px 0;
		.motion {
			&--text {
				h3 {
					width: 366px;
					font-size: 25px;
				}
			}
			&--study {
				&__block {
					&--smile {
						width: 366px;
						height: 211px;
						padding: 19px 0 0 24px;
						h6 {
							font-size: 17px;
							padding-bottom: 10px;
						}
						p {
							font-size: 15px;
							width: 279px;
							margin-right: 0;
						}
					}
					&--open {
						width: 366px;
						height: 171px;
						padding: 19px 0 0 28px;
						h6 {
							font-size: 17px;
							padding-bottom: 10px;
						}
						p {
							font-size: 15px;
							width: 318px;
							margin-right: 0;
						}
					}
					&--en {
						width: 366px;
						height: 194px;
						padding: 19px 0 0 31px;
						h6 {
							font-size: 17px;
							padding-bottom: 10px;
						}
						p {
							font-size: 15px;
							width: 329px;
						}
					}
					&--rocket {
						width: 366px;
						padding: 21px 0 0 31px;
						h6 {
							font-size: 17px;
						}
						p {
							font-size: 15px;
							width: 272px;
							margin-right: 0;
						}
						span {
							font-size: 17px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 400px) {
	#motion {
		.motion {
			&--study {
				&__block {
					&--smile {
						width: 348px;
						padding: 19px 0 0 42px;
					}
					&--open {
						width: 348px;
						height: 186px;
						p {
							width: 276px;
						}
					}
					&--en {
						width: 348px;
						height: 207px;
						padding: 19px 0 0 48px;
						p {
							width: 278px;
						}
					}
					&--rocket {
						width: 348px;
					}
				}
			}
		}
	}
}

@media (max-width: 320px) {
	#motion {
		.motion {
			&--text {
				h3 {
					width: 284px;
					font-size: 23px;
				}
			}
			&--study {
				&__block {
					&--smile {
						width: 279px;
						flex-wrap: wrap;
						h6 {
							font-size: 15px;
						}
						p {
							font-size: 13px;
							width: 217px;
						}
						img {
							width: 26px;
						}
					}
					&--open{
						width: 279px;
						flex-wrap: wrap;
						h6 {
							font-size: 15px;
						}
						p {
							font-size: 13px;
						}
						img {
							width: 26px;
						}
					}
					&--en {
						width: 279px;
						flex-wrap: wrap;
						h6 {
							font-size: 15px;
						}
						p {
							font-size: 13px;
						}
						img {
							width: 26px;
						}
					}
					&--rocket {
						width: 279px;
						flex-wrap: wrap;
						h6 {
							font-size: 15px;
						}
						p {
							font-size: 13px;
						}
						img {
							width: 26px;
						}
					}
				}
			}
		}
	}
}