#found{
  padding: 50px 0;
  .found{
    display: flex;
    justify-content: space-around;
    &--title{
      font-family: 'Muller',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      color: #EC3025;
      padding-bottom: 30px;
    }
    &--desc{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: rgba(27, 27, 27, 0.8);
    }
    &--block{
      display: flex;
      padding:0 10px;
      margin-left: 10px;
    }
    &--title2{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: #000000;
      padding-top: 10px;
      padding-bottom: 6px;
    }
    &--desc2{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 140%;
      color: rgba(27, 27, 27, 0.8);
    }
    &--title3{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: #000000;
      padding-top: 10px;
      padding-bottom: 6px;
      padding-left: 8rem;
    }
    &--desc3{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 140%;
      color: rgba(27, 27, 27, 0.8);
      padding-left: 8rem;
    }
    &--img{
      padding-left: 8rem;
    }
  }

}