#list{
  padding: 60px 0;
  background: #EFEFEF;
  .list{
    display: flex;
    &--title{
      font-family: 'Muller',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      color: #000000;
      padding-bottom: 30px;
    }
    &--desc{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 140%;
      color: rgba(27, 27, 27, 0.8);
      padding-bottom: 40px;
    }
    &--block{
      display: flex;
      align-items: center;
      padding-bottom: 16px;
    }
    &--number{
      width: 67px;
      height: 43px;
      font-family: 'Muller',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 48px;
      color: #D2D2D2;
    }
    &--title2{
      font-family: 'SF Pro Display',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      color: #1B1B1B;
      padding-left: 38px;
    }
    &--line{
      width: 485px;
      height: 0;
      border: 1px solid #D2D2D2;
      margin-bottom: 50px;
    }
    &--img{
      padding-left: 10rem;
    }
  }
}